<section id="contact">
    <div class="inner-width">
        <h1 class="section-title">Get in touch</h1>
        <div class="contact-info">
            <div class="item">
                <i class="fas fa-mobile-alt"></i>
                +91 1111111111
            </div>

            <div class="item">
                <i class="fas fa-envelope"></i>
                email@address.com
            </div>

            <div class="item">
                <i class="fas fa-map-marker-alt"></i>
                India, Maharashtra
            </div>
        </div>

        <form action="#" class="contact-form">
            <input type="text" class="nameZone" placeholder="Your Full Name" />
            <input type="email" class="emailZone" placeholder="Your Email" />
            <input type="text" class="subjectZone" placeholder="Subject" />
            <textarea class="messageZone" placeholder="Message"></textarea>
            <input type="submit" value="Send Message" class="btn" />
        </form>

        <!-- <form [formGroup]="profileForm" (ngSubmit)="saveForm()" class="contact-form">
            <div>
            <input type="text" formControlName="fullname" class="nameZone" placeholder="Full Name" />
              <span class="text-danger" [hidden]="profileForm.controls['name'].valid || profileForm.controls['name'].pristine">*Full Name is required</span>
            </div>
        
            <br />
        
            <div>
              <input type="text" formControlName="email" class="nameZone" placeholder="Email"/>
              <span class="text-danger" [hidden]="profileForm.controls['name'].valid || profileForm.controls['gender'].pristine">*Email is required</span>
            </div>
        
            <br />
        
            <div>
              <input type="text" formControlName="subjects" class="nameZone" placeholder="Subject"/>
              <span class="text-danger" [hidden]="profileForm.controls['phone'].valid || profileForm.controls['phone'].pristine">*Minimum 10 Character Required</span>
            </div>
        
            <br />
        
            <textarea class="messageZone" placeholder="Message"></textarea>
        
            <br />
        
            <div>
                <input type="submit" value="Send Message" class="btn" />
            </div>
            <br>
        
          </form> -->
    </div>
</section>