
<div>
  <h3>Success Component</h3>
  <div class="alert alert-primary text-dark
   text-center" *ngIf="n">Hello, <b>{{n}}</b> your profile is successfully registered.</div>
    <div class="container">
  
      <ul class="nav nav-pills nav-fill form-control bg-primary bg-opacity-25">
        <li class="nav-item">
          <a class="nav-link" routerLink="profileList">List Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-danger" routerLink="delete">Delete Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success" routerLink="update">Update Profile</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <a class="nav-link" routerLink="/store"><b>BACK</b></a>
    
</div>