<div>
  <h3>Profile Store Form</h3>

  <form [formGroup]="profileForm" (ngSubmit)="saveForm()" class="form-control">

    <div>
      Name : <input type="text" formControlName="name" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['name'].valid || profileForm.controls['name'].pristine">*Name is required</span>
    </div>

    <br />

    <div>
      Gender :
      <input type="text" formControlName="gender" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['name'].valid || profileForm.controls['gender'].pristine">*Gender is required</span>
    </div>

    <br />

    <div>
      Phone :
      <input type="number" formControlName="phone" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['phone'].valid || profileForm.controls['phone'].pristine">*Minimum 10 Character Required</span>
    </div>

    <br />

    <div>
      Email Id :
      <input type="email" formControlName="email" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['email'].valid || profileForm.controls['email'].pristine">*Email Id is required</span>
    </div>

    <br />

    <div>
      State :
      <input type="text" formControlName="state" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['state'].valid || profileForm.controls['state'].pristine">*State is required</span>
    </div>

    <br />

    <div>
      City : <input type="text" formControlName="city" class="form-control">
      <span class="text-danger" [hidden]="profileForm.controls['city'].valid || profileForm.controls['city'].pristine">*City is required</span>
    </div>

    <br>

    <div>
      Pincode : <input type="number" formControlName="pincode" class="form-control">
      <span class="text-danger" [hidden]="profileForm.controls['pincode'].valid || profileForm.controls['pincode'].pristine">*Pincode is required</span>
    </div>

    <br>

    <div>
      <input type="submit" value="Submit" class="form-control" />
    </div>

  </form>
</div>
