<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-5">
      <app-user-store></app-user-store>
    </div>
    <div class="col-5">
      <app-userlist></app-userlist>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <app-user-delete></app-user-delete>
    </div>
  </div> -->

  <div class="row">
    <div class="col-5">
      <app-profile-store></app-profile-store>
    </div>
    <div class="col-5">
       <app-profile-list></app-profile-list>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <app-profile-delete></app-profile-delete>
    </div>
    <div class="col-5">
      <app-profile-update></app-profile-update>
    </div>
  </div>

</div>
