<section id="services" class="dark">
    <div class="inner-width">
        <h1 class="section-title">Services</h1>
        <div class="services">

            <div class="service">
                <i class="icon fas fa-paint-brush"></i>
                <h4><b>Design</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>

            <div class="service">
                <i class="icon fas fa-pager"></i>
                <h4><b>Build Website</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>

            <div class="service">
                <i class="icon fas fa-database"></i>
                <h4><b>Manage Database</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>

            <div class="service">
                <i class="icon fab fa-android"></i>
                <h4><b>Android Apps</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>

            <div class="service">
                <i class="icon fas fa-credit-card"></i>
                <h4><b>Ui Design</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>

            <div class="service">
                <i class="icon fas fa-keyboard"></i>
                <h4><b>Edit Text</b></h4>
                <p>We hold this workout truth to be self-evident: Good music makes the workout. </p>
            </div>
        </div>
    </div>
</section>
