<div>
  <form [formGroup]="profile" class="form-control" (ngSubmit)="handleSubmit()">
    <h2>Full Name</h2>
    <div class="col g-3">
      <label for="first-name" class="form-label ">First Name :&nbsp; </label>
      <input
        id="first-name"
        type="text"
        autocomplete="off"
        formControlName="firstname"
        class="form-control"
      />
      <span class="text-danger" [hidden]="profile.controls['firstname'].valid || profile.controls['firstname'].pristine">
        *Firstname is required
      </span>
    </div>

    <br />

    <div class="col g-3">
      <label for="last-name" class="form-label">Last Name :&nbsp; </label>
      <input
        id="last-name"
        type="text"
        autocomplete="off"
        formControlName="lastname"
        class="form-control"
      />
      <span class="text-danger" [hidden]="profile.controls['lastname'].valid || profile.controls['lastname'].pristine">
        *lastname is required
      </span>
    </div>

    <br />

    <h2>Address</h2>
    <div formGroupName="address" class="row g-3">
      <div class="mb-3 col-sm-7">
        <label for="city">City :&nbsp; </label>
        <input type="text" formControlName="city" class="form-control" />
        <span class="text-danger" [hidden]="profile.controls['address'].get('city')?.valid || profile.controls['address'].get('city')?.pristine">
          *City is required
        </span>
      </div>

      <br />

      <div class="mb-3 col-sm">
        <label for="state">State :&nbsp; </label>
        <input type="text" formControlName="state" class="form-control" />
        <span class="text-danger" [hidden]="profile.controls['address'].get('state')?.valid || profile.controls['address'].get('state')?.pristine">
          *State is required
        </span>
      </div>

      <br>

      <div class="mb-3 col-sm">
        <label for="pincode">Pin-code :&nbsp; </label>
        <input type="text" formControlName="pincode" class="form-control" />
        <span class="text-danger" [hidden]="profile.controls['address'].get('pincode')?.valid || profile.controls['address'].get('pincode')?.pristine">
          *Not more then 6 characters
        </span>
      </div>
    </div>

    <br />

    <div>
      <button class="mb-3 btn btn-outline-success btn-lg" type="submit" [disabled]="profile.invalid">Submit</button>
    </div>
  </form>
</div>

<div>Profile : {{ profile.value | json }}</div>
