<div class="container-fluid">
  <!-- <div>
    <h2 class="alert alert-primary text-center">Welcome to Router</h2>
  </div>
  <div class="container">
    <a routerLink="store">Registration</a>
    /
    <a routerLink="delete">Delete User</a>
    /
    <a routerLink="userList">List Users</a>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div> -->

  <div>
    <h2 class="alert alert-primary text-center">Welcome to Router</h2>
  </div>
  <div class="container">
    <!-- <a routerLink="store">Registration</a>
    /
    <a routerLink="delete">Delete Profile</a>
    /
    <a routerLink="profileList">List Profile</a>
    /
    <a routerLink="update">Update Profile</a> -->

    <ul class="nav nav-pills nav-fill form-control bg-primary bg-opacity-25">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="store">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-danger" routerLink="delete">Delete Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profileList">List Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="update">Update Profile</a>
      </li>
    </ul>
  </div>
  <br>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
