<div>
  <h3 class="text-center text-success">Update Profile</h3>
  <form class="form-control bg-success bg-opacity-25">
    Enter Id : <input type="number" [formControl]="id" class="form-control"> <br>
  <!-- <input type="button" (click)="getInfo()"  (click)="setProfileValue()" value="Search" class="btn btn-primary" > -->
  <button type="button" (click)="getInfo()"  (click)="setProfileValue()" class="btn btn-success">Search</button>
  </form>
</div>

<br>

<div>

  <form *ngIf="object" [formGroup]="profileForm" (ngSubmit)="updateForm()" class="form-control bg-primary bg-opacity-25">

    <div>
      Name : <input type="text" formControlName="name" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['name'].valid || profileForm.controls['name'].pristine">*Name is required</span>
    </div>

    <br />

    <div>
      Gender :
      <input type="text" formControlName="gender" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['gender'].valid || profileForm.controls['gender'].pristine">*Gender is required</span>
    </div>

    <br />

    <div>
      Phone :
      <input type="number" formControlName="phone" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['phone'].valid || profileForm.controls['phone'].pristine">*Minimum 10 Character Required</span>
    </div>

    <br />

    <div>
      Email Id :
      <input type="email" formControlName="email" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['email'].valid || profileForm.controls['email'].pristine">*Email Id is required</span>
    </div>

    <br />

    <div>
      State :
      <input type="text" formControlName="state" class="form-control" />
      <span class="text-danger" [hidden]="profileForm.controls['state'].valid || profileForm.controls['state'].pristine">*State is required</span>
    </div>

    <br />

    <div>
      City : <input type="text" formControlName="city" class="form-control">
      <span class="text-danger" [hidden]="profileForm.controls['city'].valid || profileForm.controls['city'].pristine">*City is required</span>
    </div>

    <br>

    <div>
      Pincode : <input type="number" formControlName="pincode" class="form-control">
      <span class="text-danger" [hidden]="profileForm.controls['pincode'].valid || profileForm.controls['pincode'].pristine">*Pincode is required</span>
    </div>

    <br>

    <div>
      <!-- <input type="submit" value="Update" class="form-control bg-primary" [disabled]="profileForm.invalid" /> -->
      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Update</button>
    </div>

  </form>
</div>


