<section id="about">
    <div class="inner-width">
        <h1 class="section-title">About</h1>
        <div class="about-content">
            <img src="images/pic.png" alt="" class="about-pic" />
            <div class="about-text">
                <h2>Hi! I'm Venom</h2>
                <h3>
                    <span>Developer</span>
                    <span>Designer</span>
                    <span>Coder</span>
                </h3>
                <p>
                    We hold this workout truth to be self-evident: Good music makes the workout. Apple has carried the tune of this fitness fact into the design Apple Fitness+: the brand’s newly-launched movement platform that comes jam-packed with disc-jockeyed playlists designed to inspire your movement from start to finish (ensuring you close those rings in no time flat).
                    We hold this workout truth to be self-evident: Good music makes the workout. Apple has carried the tune of this fitness fact into the design Apple Fitness+: the brand’s newly-launched movement platform that comes jam-packed with disc-jockeyed playlists designed to inspire your movement from start to finish (ensuring you close those rings in no time flat).
                    We hold this workout truth to be self-evident: Good music makes the workout. Apple has carried the tune of this fitness fact into the design Apple Fitness+: the brand’s newly-launched movement platform that comes jam-packed with disc-jockeyed playlists designed to inspire your movement from start to finish (ensuring you close those rings in no time flat).
                </p>

            </div>
        </div>

        <div class="skills">
            <div class="skill">
                <div class="skill-info">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="skill-bar html"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>CSS</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar css"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>Javascript</span>
                    <span>70%</span>
                </div>
                <div class="skill-bar js"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>PHP</span>
                    <span>60%</span>
                </div>
                <div class="skill-bar php"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>MySQL</span>
                    <span>90%</span>
                </div>
                <div class="skill-bar mysql"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>C#</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>
        </div>
    </div>
</section>